@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Application Name</h1>
</div>

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="#">提出</a></li>
            <li><a href="#">Excel出力</a></li>
        </ul>
    </div>
    <div class="*">
        <h1>内容</h1>
    </div>
</div>
